<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
</head>

<body>
    <h3><%=message %></h3>
    <ul>
        <li>Home</li>
        <li><a href="/about">About</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione a maiores error corrupti quod animi ea perferendis architecto quisquam accusantium temporibus recusandae quidem porro dolorem odio officiis, quo consequatur dignissimos!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione a maiores error corrupti quod animi ea perferendis architecto quisquam accusantium temporibus recusandae quidem porro dolorem odio officiis, quo consequatur dignissimos!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione a maiores error corrupti quod animi ea perferendis architecto quisquam accusantium temporibus recusandae quidem porro dolorem odio officiis, quo consequatur dignissimos!</p>
</body>

</html>